
<app-header></app-header>
<div class="dashboard-container">
    <!-- Dashboard Header -->
   
    <!-- Dashboard Menu -->


    <!-- Dashboard Content -->
	<div>
	    <h3 style="margin-left:50px;margin-top:10px;">Search</h3>
		<hr style="margin-left:50px;margin-top:10px;margin-right:50px;">
		
		<h3 style="margin-left:50px;margin-top:10px;">Search Results</h3>
		<hr style="margin-left:50px;margin-top:10px;margin-right:50px;">
		<div id="resultsTable" class="container align-items-center justify-content-center my-3" style="display: block;">	
			<table class="table table-bordered" style="font-size:13px;">
			  <thead>
				<tr class="table-danger text-center" style="vertical-align: top;">
				  <th scope="col">Transaction ID</th>
				  <th scope="col">Datetime</th>
				  <th scope="col">Initiator Name</th>
				  <th scope="col">Source MSISDN</th>
				  <th scope="col">Merchant Name</th>
				  <th scope="col">Destination MSISDN</th>
				  <th scope="col">Recipient Name</th>
				  <th scope="col">Status</th>
				  <th scope="col">Amount</th>
				  <th scope="col">Type</th>
				  <th scope="col">Channel</th>
				</tr>
			  </thead>
			  <tbody style="vertical-align: middle;font-family: Arial, Helvetica, sans-serif;">
				<tr>
				  <td>266290747957</td>
				  <td>2024-01-25 13:25:55 GST</td>
				  <td>CIT-QA-ND1</td>
				  <td>97154XXXX535</td>
				  <td>CIT-QA-ND1</td>
				  <td>97154XXXX535</td>
				  <td>CIT-QA-ND1</td>
				  <td>Rejected</td>
				  <td>10 AED</td>
				  <td>Airtime Request</td>
				  <td>PORTAL</td>
				</tr>
				<tr>
				  <td>266290747958</td>
				  <td>2024-01-25 13:25:55 GST</td>
				  <td>CIT-QA-ND1</td>
				  <td>97154XXXX535</td>
				  <td>CIT-QA-ND1</td>
				  <td>97154XXXX535</td>
				  <td>CIT-QA-ND1</td>
				  <td>Rejected</td>
				  <td>10 AED</td>
				  <td>Airtime Request</td>
				  <td>PORTAL</td>
				</tr>
				<tr>
				  <td>266290747959</td>
				  <td>2024-01-25 13:25:55 GST</td>
				  <td>CIT-QA-ND1</td>
				  <td>97154XXXX535</td>
				  <td>CIT-QA-ND1</td>
				  <td>97154XXXX535</td>
				  <td>CIT-QA-ND1</td>
				  <td>Rejected</td>
				  <td>10 AED</td>
				  <td>Airtime Request</td>
				  <td>PORTAL</td>
				</tr>
			  </tbody>
			</table>
		
		</div>	
	</div>



